{% extends 'Tienda/index.html' %}
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'user_profile/user_profile.css' %}">

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<body>

    {% block content %}
    <section id="banner">

        <div class="inner">
            {% if Pic_user.foto_perfil %} <img align="left" src="{{ MEDIA_URL }} {{ Pic_user.foto_perfil.url }}" class="fb-image-profile thumbnail" style="width:500px; height:400px" alt="Profile image example"> {% endif %}
        </div>

    </section>

    <section id="one">
        <div class="inner">
            <div class="fb-profile-text">
                {% for myinfo in  Usuario_profile %}
                <h1> {{ myinfo.nombre_usr }}  </h1>
                {% for more_info in FichaUsuario_profile %}
                <p> Nivel de Elo: {{ more_info.nivel_elo }}  </p> 
                <p> Titulo: {{ more_info.titulo_usr }}  </p>
                {% endfor %}
                <p> Fecha de nacimiento:  {{ myinfo.fecha_nacimiento }}</p>
                <p> Lugar de procedencia:  {{ myinfo.lugar_procedencia }} </p>
                {% endfor %}



            </div>
        
            {% for articulo in Publicaciones_profile %}
            <div class="card text-center">
            <div class="card-header">
                Publicado por {{ articulo.user }}
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ articulo.titulo_publ }} </h5>
                <p class="card-text">{{ articulo.cuerpo_publ }}</p>
                
            </div>
            <div class="card-footer text-muted">
                <a href="{% url "administrador:Ver_publicaciones" articulo.pk %}" class="btn btn-primary">Ver</a>
                <a href="{% url "administrador:Editar_publicaciones" articulo.pk %}" class="btn btn-info">Editar</a>
                <a href="{% url "administrador:Eliminar_publicaciones" articulo.pk %}" class="btn btn-danger">Eliminar</a>
            </div>
            <p></p>
        {% endfor %}
        </div>

    </section>

    {% endblock content %}

</body>







