{% extends 'Tienda/index.html' %}
{% block content %}
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Nueva publicacion</h2>
					</header>
                    <form method="POST" action="#">
                        {% csrf_token %}
						{{ form }}
						
						<input type="submit" name="Crear"/>
                        
                    </form>
    
					<div class="copyright">
						Comparte tus ideas {{ request.user }}
					</div>
				</div>
			</section>

{% endblock content %}
