{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'csss/presentacion.css' %}" />
        <title>Don Capablanca</title>
    </head>
    <body>
        <header>Este es mi header</header>
        <h1>Hola a todos!</h1>
    </body>
</html>