{% extends 'Tienda/index.html' %}

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0&appId=390393298573582&autoLogAppEvents=1" nonce="odEXqSwm"></script>
    {% block content %}


                <div class="card text-center">
                    <div class="card-header">
                        Publicado por {{ object.user }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ object.titulo_publ }} </h5>
                        <p class="card-text">{{ object.cuerpo_publ }}</p>
                        
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="{% url 'administrador:perfil_usuario' %}"> Volver </a>
                    </div>
                    <div class="fb-comments" data-href="http://127.0.0.1:8000/Ver_publicaciones_Comunidad/1" data-numposts="5" data-width=""></div>

                </div>
                

    {% endblock content %}
</body>