{% load static %}
<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<!-- CSS only  SE TIENE QUE IMPORTAR BOOTSTRAP-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<title>Don capablanca</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css_interface/assets/css/main.css' %}" />
	</head>

	<body>

		<!-- Header -->
		{% block header %}
			<header id="header">

				<div class="inner">
				    <a href="{% url 'administrador:tienda_chess' %}" class="logo">Bienvenid@ {{ request.user }}</a>
					<!--<nav id="nav">-->
    					<a href="{% url 'administrador:perfil_usuario' %}">Mi cuenta</a>
    					<a href="{% url 'administrador:publicaciones' %}">Crear</a>
    					<a href="{% url 'administrador:Tienda' %}">Tienda</a>
    					{% for mike in info_usuarios %}
    					<a href="{% url 'administrador:Editar_usuario' mike.pk %}">Configuraciones</a>
    					{% endfor %}

    					<a href="{% url 'administrador:logout_cuenta' %}">Salir</a>
					<!--</nav>-->
				</div>
			</header>
			<!--<span class="fa fa-bars"></span>-->
		{% endblock header %}


        {% block content %}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Un lugar <span>hecho para ti {{ request.user }}<br />
				</div>
			</section>

		<!-- One -->
			<section id="one"> <!--Lista de todos los productos que hay -->
				<div class="inner">

				    {% for articulo in publicaciones_usuarios %}
						<div class="card text-center">
						<div class="card-header">
							Publicado por: {{ articulo.user }}
						</div>
						<div class="card-body">
							<h5 class="card-title"> {{ articulo.titulo_publ }} </h5>
							<p class="card-text">{{ articulo.cuerpo_publ }}</p>

						</div>
						<div class="card-footer text-muted">
							<a href="{% url 'administrador:Ver_publicaciones_Comunidad' articulo.pk %}" class="btn btn-primary">Ver publicacion</a>
						</div>
						<p></p>
					{% endfor %}
				</div>
			</section>

		<!-- Footer -->
		    {% block quejas %}
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Quejas o Sugerencias</h2>
					</header>
					<form method="post" action="#">
					    {% csrf_token %}
						{{ form }}
						<li><input type="submit" value="Send Message" class="alt" /></li>

					</form>
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>
		    {% endblock quejas %}

		{% endblock content %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>

