{% extends 'Tienda/index.html' %}

{% block content %}
<!-- One -->
<section id="one"> <!--Lista de todos los productos que hay -->
    <div class="inner">

        <!-- FILTROS DE BUSQUEDA -->
        <form method="get">
            {{ busqueda_productos.form }}
            <input type="submit" />
        </form>

        {% for obj in busqueda_productos.qs %}
            <div class="card text-center">
            <div class="card-header">
                {{ obj.tipo_producto }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <img src="{{ MEDIA_URL }} {{ obj.imagen_producto.url }}" style="width:300px; height:300px"/>
                <p class="card-text">{{ obj.descipcion_producto }}</p>

            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Ordenar</a>
            </div>
            <p></p>
        {% endfor %}
    </div>
</section>
{% endblock content %}