{% extends 'Tienda/index.html' %}
    {% block content %}
        <section id="one">
            <div class="inner">
                <form method="POST">
                    {% csrf_token %}
                    <h1>Estas a punto de eliminar:  {{ object.titulo_publ }}
                    <button type="submit" class="btn btn-outline-danger" > Eliminar </button>
                    <p> <a class="btn btn-primary" href="{% url 'administrador:perfil_usuario' %}"> No eliminar </a>   <p>
                </form>
            </div>

        </section>

    
    {% endblock content %}