{% extends 'Tienda/index.html' %}
<body>
    {% block content %}
                <div class="card text-center">
                    <div class="card-header">
                        Publicado por {{ object.user }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ object.titulo_publ }} </h5>
                        <p class="card-text">{{ object.cuerpo_publ }}</p>
                        
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-primary" href="{% url 'administrador:tienda_chess' %}"> Volver </a>
                    </div>
                    
                </div>
    {% endblock content %}

</body>