{% extends 'cuenta_usuario/iniciar_cuenta.html' %}
{% load static %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

			    
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images/img-01.jpg' %}" alt="IMG">
				</div>
                {% block contenedor %}

				<form class="login100-form validate-form" method="POST" action='' enctype="multipart/form-data">
				    {% csrf_token %}
				    {{ form.image }}

				    <input type=submit value="submit" />
		

                
				</form>
				{% endblock contenedor %}

			</div>
		</div>
	</div>